
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Successful</title>
    <style>
        body {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img style="height: 100px;" src="https://api.studentsunion.com.ng/static/assets/logo.jpg" alt="Logo">
    <p>Hello {{ firstname }}</p>
    <p>Your password was successfully changed.</p>
    <p>If you did not initiate this change or believe it to be an unauthorized action, please contact our support team immediately.</p>
    <p>Thank you for choosing <b>Students Union</b>. If you have any questions or need further assistance, feel free to reach out to our support team.</p>
    <p>Best regards <br>support@studentsunion.com.ng</p>
</body>
</html>
