
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Password Reset</title>
    <style>
        body {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img style="height: 100px;" src="https://api.studentsunion.com.ng/static/assets/logo.jpg" alt="Logo">
    <p>Hello {{ firstname }}</p>
    <p>You recently requested to reset your password for our platform. <br>Your reset token is:</p>
    <h2>{{ token }}</h2>
    <p>Or click on the link below to continue <br>{{ link }}</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards <br>support@studentsunion.com.ng</p>
</body>
</html>
