
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Site</title>
    <style>
        body {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img style="height: 100px;" src="https://api.studentsunion.com.ng/static/assets/logo.jpg" alt="Logo">
    <h1>Welcome to Student Union</h1>
    <h2>{{ firstname }}</h2>
    <p>Congratulations on joining our community! As a student, you now have exclusive access to incredible deals and discounted prices on a wide range of products.</p>
    <p>Explore our selection of textbooks, electronics, fashion, and more, all tailored to fit your student budget. Enjoy the convenience of online shopping with fast delivery right to your doorstep.</p>
    <p>Feel free to browse our categories and discover the savings that await you. If you have any questions or need assistance, our friendly support team is here to help.</p>
    <p>Thank you for choosing us as your go-to destination for affordable and quality products. Happy shopping!</p>
    <p>Support Team <br>support@studentsunion.com.ng</p>
</body>
</html>
