
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Site</title>
    <style>
        body {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img style="height: 100px;" src="https://api.studentsunion.com.ng/static/assets/logo.jpg" alt="Logo">
    <h1>Welcome to Student Union</h1>
    <h2>{{ firstname }}</h2>
    <p>Thank you for joining our community of sellers. We're thrilled to have you as a partner in our mission to provide quality products to our customers.</p>
    <p>Your journey as a seller begins now, and we're here to support you every step of the way. Our platform offers powerful tools and resources to help you showcase your products, reach a wider audience, and grow your business.</p>
    <p>Explore the seller dashboard to manage your inventory, set prices, and track your sales. Don't forget to take advantage of our marketing resources to promote your products and attract more customers.</p>
    <p>If you ever have questions or need assistance, our dedicated support team is ready to assist you. Together, we can create a successful partnership and offer customers a diverse and exciting shopping experience.</p>
    <p>Thank you for choosing to partner with us. We look forward to achieving great success together!</p>
    <p>Support Team <br>support@studentsunion.com.ng</p>
</body>
</html>
